# Scripts #
run.sh
clean.sh

# cmake stuff #
cmake-build-debug
cmake-build-wsl_profile

# Build directories
bin
Debug
Release
Coverage

# other
.old
.idea
sonar-project.properties
.test
.scannerwork
.vscode